spring:
  application:
    name: calendar-mcp-server
  ai:
    mcp:
      server:
        protocol: stateless

management:
  endpoints:
    web:
      exposure:
        include: info, health
  endpoint:
    health:
      probes:
        enabled: true