services:
  telegram-bot:
    image: munirsunchalyaev/telegram-ai-agent:${TELEGRAM_BOT_VERSION}
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      AI_AGENT_URL: http://ai-agent:8000
    depends_on:
      - ai-agent

  ai-agent:
    image: munirsunchalyaev/ai-agent:${AI_AGENT_VERSION}
    container_name: ai-agent
    expose:
      - '8000'
    environment:
      API_KEY: ${API_KEY}
      BASE_URL: ${BASE_URL}
      VACATION_PAY_URL: http://calendar:8080/mcp
    depends_on:
      calendar-mcp-server:
        condition: service_healthy

  calendar-mcp-server:
    image: munirsunchalyaev/calendar-mcp-server:${CALENDAR_MCP_SERVER_VERSION}
    container_name: calendar
    expose:
      - '8080'
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/actuator/health/readiness" ]
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 20s